<form>
    <div class="form-group">
        <label>
            Enter Follower Name : 
            <input [(ngModel)]='username' type="text" class="form-control" name="username" required>
        </label>
        <button (click)="getFollowers()" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<div class="media"
    *ngFor='let follower of followers'>
    <div class="media-avatar">
        <a [routerLink]="['/followers', follower.id, follower.login]" [queryParams]="['image']">
            <img src="{{ follower.avatar_url }}" class="avatar media-object">
        </a>
    </div>
    <div class="short-details">
        <h4><a [routerLink]="['/followers',follower.id, follower.login]">{{ follower.login }}</a></h4>
        <a href="{{ follower.html_url }}" target="_blank">{{ follower.html_url }}</a>
    </div>
</div>