.ng-touched.ng-invalid{
    border-color: red;
}

button[type='submit']{
    margin-left: 10px;
}

img.avatar{
    border-radius: 50%;
    height:50px;
    width: 50px;
}

.media{
    display:flex;
    flex-direction: row;
}

.media-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.media-avatar a{
    display: block;
}

.media .short-details{
    padding: 5px;
}